
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Oo]ut/
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*/
*.orig
*.opensdf
*.vssscc
*.vspscc
*.sdf
ErrorLogs
*.dbmdl
*.swp
*.tmp
